
taxdump.tar.gz
merged.tab
syn.tab
taxa.tab
DB/__pycache__/functions.cpython-39.pyc
genomes.txt
populateErrors.log
DB/xylman.cnf
XylMan_DownloadedGenomes.nb.html
logs/
test/
submitScript_runDbCAN*
*.sh
*.sh.[eo][0-9.]*
*.[eo][0-9.]*
listFiles.[0-9]*.txt
*_structure.html
*_characterized.html

